@(title: String, appScriptUrl: Option[String], loaderScriptUrl: Option[String], libraryScriptUrl: Option[String])

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href=@routes.Assets.versioned("images/favicon.png")>
  <link rel="stylesheet" href=@routes.Assets.versioned("material-datetime-picker/dist/material-datetime-picker.css")>
  <link rel="stylesheet" href=@routes.Assets.versioned("material-components-web/dist/material-components-web.css")>
</head>
<body>
<div id="root">
</div>

<!-- load js bundles -->
<script src="@libraryScriptUrl"></script>
<script src="@loaderScriptUrl"></script>
<script src="@appScriptUrl"></script>
</body>
</html>